{
  "parser": "babel-eslint",
  "extends": "vue",
  "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "allowImportExportEverywhere": true
  },
  "plugins": ["html"],
  "settings": {
    "html/html-extensions": [".vue"]
  },
    "globals": {
    "it": false,
    "describe": false,
    "beforeEach": false,
    "meteorInstall": false,
    "LoggedInMixin": false,
    "Meteor": false,
    "$": false,
    "jQuery": false,
    "Job": false,
    "swal": false,
    "Tracker": false,
    "FastRender": false,
    "Package": false,
    "Npm": false,
    "_": false,
    "Roles": false,
    "location": false
  }
}
